/* $Id: styles.css,v 1.6.2.2 2010/06/26 15:36:03 johnalbin Exp $ */

body {
  font-size: 100%; /* Fixes exaggerated text resizing in IE6 and IE7 */
	font-family: 'MyriadWebProRegular' !important;
	color:#333;
	/* 	background-image:url('../images/bground.jpg');  */
}

caption, th, td, input, textarea, select, option, legend, fieldset {
	font-family: 'MyriadWebProRegular' !important;
}

/*
 * Links
 */
a:link {
	color:#666;
	text-decoration:none;
}

a:visited {
	color:#666;
	text-decoration:none;
}

a:hover,
a:focus {
	color:#333;
	text-decoration:none;
}

a:active {
	color:#333;
	text-decoration:none;
}

/*
 * Tables
 */
table {
  border-collapse: collapse;
  /* width: 100%; */ /* Prevent cramped-looking tables */
}

th,
thead th,
tbody th {
  text-align: left; /* LTR */
  padding: 0;
  border-bottom: none;
}

tbody {
  border-top: none;
}


/*
 * Forms
 */
form {
  margin: 0;
  padding: 0;
}

fieldset {
  margin: 1em 0;
  padding: 0.5em;
}

/*
 * Layout
 */
 
#page {
	margin-top:20px;
}

#header {
	position:static;
	height:20px;
	margin-bottom: 50px;
}

#content {
	float:none !important;
	margin-top:2em !important;
	width:950px !important;
}

.region-header {
	 clear:none;
}

.views-row {
	margin-bottom:15px;
}

.node-teaser {
	padding:15px !important;
	height:290px;
}

h1.title {
	font-size:25px;
	margin-bottom: 20px;
	/* 	font-family: 'MyriadWebBold';  */
	color: #666666;
}

.node h2.title {
	font-size:30px;
	/* 	font-family: 'MyriadWebBold';  */
	margin-left: 470px;
	color: #7c7c7c;
}


/*
 * Blocks
 */
 
#block-search-0 {
	float:right;
	margin-right:10px;
}
 
#block-search-0 h2.title {
	display:none;
}

/*
 * Navigation
 */
 
#navigation {
	width:auto;	
}

#navigation ul{
	padding:7px;
	margin-left:80px;
}

#navigation li {
	float:left;
	padding:0 20px 0 0;
	font-size:14px;
}

/*
 * Forms
 */
 
#search-block-form {
	padding:3px;
}

#search-block-form .form-text {
	border:1px solid #ededed;
	background-color:#ededed;
	color:#333;
	padding:3px;
	width:150px;
}

#search-block-form .form-submit {
	border:none;
	background-color:transparent;
	color:#666;
	font-family: 'MyriadWebProRegular' !important;
	font-size:14px;
}

/*
 * Projects
 */
 
.node-type-project {
	background-color:#f3f3f3;
	padding:15px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	
}

.node-type-project p {
	margin-left: 470px;
	margin-right: 10px;
}

#product-image {
	float:left;
}

.imagefield-field_project_image {
	margin-right:20px;
}

.node-type-drupal {
	width:960px;
	height:240px;
	margin-bottom:20px;
}

.node-type-drupal h3.title {
	/*font-family: 'MyriadWebBold';*/
	font-size:1.3em;
	margin-left: 0;
	color: #6e6d6d;
}

.node-type-drupal-left {
	float:left;
	width:150px;
	height:210px;
	padding:15px !important;
	background-color:#f3f3f3;
	border: 1px solid #ccc;
	border-radius: 10px 0 0 10px;
	-moz-border-radius: 10px 0 0 10px;
	-webkit-border-radius: 10px 0 0 10px;
	-khtml-border-radius: 10px 0 0 10px;	
	
	
		/* For WebKit (Safari, Google Chrome etc) */
		background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
		/* For Mozilla/Gecko (Firefox etc) */
		background: -moz-linear-gradient(top, #fff, #DFDFDF);
}

.node-type-drupal-center {
	float:left;
	width:250px;
	height:210px;
	padding:15px !important;
	background-color:#fff;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}

.node-type-drupal-right {
	float:left;
	width:460px;
	height:210px;
	padding:15px !important;
	background-color:#f3f3f3;
	border:1px solid #ccc;
	border-radius: 0 10px 10px 0;
	-moz-border-radius: 0 10px 10px 0;
	-webkit-border-radius: 0 10px 10px 0;
	-khtml-border-radius: 0 10px 10px 0;
	
}

/* Contact page */
#contactContent {
	margin-top: 10px;
	background-color:#f3f3f3;
	padding:15px;
	width: 900px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	height: 300px;
}

#contactInfo p {
	width: 400px;
	margin: 5px 0 5px 450px;
}

#map {
	float: left;
	position:relative;
	width: 400px;
}